:root {
  --white: 255, 255, 255;

  --background-color: #fafafa;

  --orange-darker: #c77800;
  --orange: #ffa726;
  --orange-lighter: #ffd95b;

  --green-darker: #00701a;
  --green: #43a047;
  --green-lighter: #76d275;

  --light-green: #8bc34a;

  --red-darker: #ba000d;
  --red: #f44336;
  --red-lighter: #ff6145;

  --yellow-darker: #c6a700;
  --yellow: #fdd835;
  --yellow-lighter: #ffff6b;

  --blue-darker: #005cb2;
  --blue: #1e88e5;
  --blue-lighter: #6ab7ff;

  --purple-darker: #790e8b;
  --purple: #ab47bc;
  --purple-lighter: #df78ef;

  --pink-darker: #b0003a;
  --pink: #e91e63;
  --pink-lighter: #ff6090;

  --gray-darker: 27, 27, 27;
  --gray: #424242;
  --gray-lighter: #6d6d6d;
}
