@import "theme/colors.scss";
@import "theme/general.scss";

html, body {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html::-webkit-scrollbar {
  display: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
