<mat-toolbar class="nav">
  <img src="assets/images/icons/pokeball.png" class="pokeball-icon" alt="icon">

  <span class="title">ProHelper</span>

  <span class="spacer"></span>

  <span class="nav-text">SERVICES</span>

  <span class="nav-text">BLOGS</span>

  <span class="nav-text">FAQ</span>

  <span class="nav-text">ABOUT US</span>

  <span class="nav-text" [routerLink]="['/contact-us']">CONTACT</span>

  <span class="nav-text">DONATE</span>

  <button mat-icon-button class="menu-button">
    <img src="assets/images/icons/locked-icon.png" class="menu-icon">
  </button>
</mat-toolbar>
